.colors {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 87%; 
    left: 5%;
    background-color: white;
    padding: 20px
}

h3 {
    margin-right: 10px
}

.mouseDetect {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid silver
}

.each-color {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.each-color.red {
    background-color: red;
}

.each-color.blue {
    background-color: blue;
}

.each-color.yellow {
    background-color: yellow;
}

.each-color.green {
    background-color: green;
}
